@model IEnumerable<Scandium.Entities.Job>

<ul class="list-group">
    @foreach (var job in Model!)
    {
        <li class="list-group-item mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <a class="nav-link" href="">@job.CreateDateTime</a>
                <div>@job.State</div>
            </div>
        </li>
    }
</ul>